<div class="poem-pic text-center" data-title="<%= poem.title %>">
  <%= link_to image_tag(poem.pic), poem_path(poem.id) %>
  <div class="poem-title-link">
    <%= link_to "#{poem.title}", poem_path(poem.id), class: "poem-title-link" %>
  </div>
</div>
