<%= simple_form_for @poem do |f| %>
  <%= f.input :max_lines, input_html: { value: @poem.max_lines } %>
  <%= f.input :max_syllables, input_html: { value: @poem.max_syllables } %>
  <%= f.submit "Update", class: "btn btn-info" %>
<% end %>



<div id="tool-buttons">
  <p class="word"></p>
  <p class="word-id"></p>
  <p class="line-id"></p>
  <button class="btn tool-buttons" type="button" id="synonyms">Synonyms</button><br/>
  <button class="btn tool-buttons" type="button" id="rhyme-with">Rhyme-with</button><br/>
  <button class="btn tool-buttons" type="button" id="replace-with">Replace</button>
</div>

<div class="d-box" id="replacement-form" title="Replace">
  <p class="word"></p>
  <div class="input-append">
    <input class="span2" id="appendedInputButton" type="text">
    <button class="btn" type="button" id="replace-button">Replace!</button>
  </div>
</div>
