<div class="span5 offset1" id="original-text">
  <%= @poem.original_text %>
  <br/>
  <br/>
  <br/>
  <br/>
  <%= render partial: "verse_form_options" %>
</div>

<div class="poem-id" id="<%=@poem.id%>"></div>

<div class='span5 offset1' id='poem-text'>

  <%= render partial: "poem_text" %>
</div>
