<div id="home-side-menu">
  <h3>My Poems</h3>
  <ul>
    <li><%= link_to "All poems","#", id: "all-poems" %></li>
    <li><%= link_to "Public poems","#", id: "public-poems" %></li>
    <li><%= link_to "Private poems","#", id: "private-poems" %></li>
    <li><%= link_to "Create new poem", "/" %></li>
  </ul>
</div>
