<%= render partial: "home_side_menu" %>

<div class="span7 offset1">
  <% if @user.poems == [] %>
    <div class="text-center">
      <h3>You have no written any poems yet</h3>
      <%= link_to "Create Poem", new_poem_path %>
    </div>
  <% else %>
    <ul>
      <% @user.poems.each do |poem| %>
        <%= poem.title %>
      <% end %>
    </ul>
  <% end %>
</div>
