<%= render partial: "home_side_menu" %>

<div class="span7 offset1">
  <% if @user.poems == [] %>
    <div class="text-center">
      <h3>You have no written any poems yet</h3>
      <%= link_to "Create Poem", new_poem_path %>
    </div>
  <% else %>
  <h3>All Poems</h3>
    <ul>
      <% @user.poems.each do |poem| %>
        <li><%= link_to "#{poem.title}", edit_poem_path(poem.id) %></li>
      <% end %>
    </ul>
  <% end %>
</div>
