/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*span:hover {
  font-weight: bold;
  background-color: #5bc0de;
  color: white;
  border-radius: 2px;
  padding: 2px;
}*/

/* ------------------edit poems--------------------*/
span.selected-word {
  font-weight: bold;
  background-color: #5bc0de;
  color: white;
  border-radius: 2px;
  padding: 2px;
}

.tool-buttons {
  width: 120px;
}

.popover-content {
  max-height: 200px;
  min-width: 200px;
  overflow: scroll;
}
li.replacement-word:hover{
  font-weight: bold;
}
span.word:hover{
  font-weight: bold;
  background-color: #5bc0de;
  color: white;
  border-radius: 2px;
  padding: 2px;
}
/* ------------------masonry--------------------*/

.poem-title-link {
  font-weight: bold;
  background-color: #5bc0de;
  color: white;
  border-radius: 2px;
  padding: 2px;
}

.masonry-container {
  max-width: 100%;
  max-height: 100%;
}

.masonry-container .poem-pic {
  max-width:  100px;
  max-height: 200px;
  min-width:  50px;
  min-height: 50px;
  float: left;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}
/* ------------------search--------------------*/

span#search-results {
  text-decoration: underline;
  font-weight: bold;
}
#search-for-poems{
  border: 1px solid grey;
  position: fixed;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 10px;
}


