<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">PoemEngine</a>
    <ul class="nav pull-right">
      <li><a href="#">Login</a></li>
      <li><a href="#">Sign up</a></li>
    </ul>
  </div>
</div>
